@use '../../constants.scss';

.resume {
  @include constants.page-styles;

  &__header {
    display: flex;
    justify-content: left;
    align-items: center;

    a {
      margin-right: 2em;
    }
  }

  .section {
    margin-top: 5vh;
  }
}
