/*!*******************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[12].use[3]!./node_modules/@fontsource/merriweather/index.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************/
/* merriweather-cyrillic-ext-400-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/merriweather-cyrillic-ext-400-normal.a3079bff.woff2) format('woff2'), url(/_next/static/media/merriweather-all-400-normal.5980f24f.woff) format('woff');
  unicode-range: U+0460-052F,U+1C80-1C88,U+20B4,U+2DE0-2DFF,U+A640-A69F,U+FE2E-FE2F;
}
/* merriweather-cyrillic-400-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/merriweather-cyrillic-400-normal.3bc49903.woff2) format('woff2'), url(/_next/static/media/merriweather-all-400-normal.5980f24f.woff) format('woff');
  unicode-range: U+0301,U+0400-045F,U+0490-0491,U+04B0-04B1,U+2116;
}
/* merriweather-vietnamese-400-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/merriweather-vietnamese-400-normal.9640e109.woff2) format('woff2'), url(/_next/static/media/merriweather-all-400-normal.5980f24f.woff) format('woff');
  unicode-range: U+0102-0103,U+0110-0111,U+0128-0129,U+0168-0169,U+01A0-01A1,U+01AF-01B0,U+1EA0-1EF9,U+20AB;
}
/* merriweather-latin-ext-400-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/merriweather-latin-ext-400-normal.7942bef5.woff2) format('woff2'), url(/_next/static/media/merriweather-all-400-normal.5980f24f.woff) format('woff');
  unicode-range: U+0100-024F,U+0259,U+1E00-1EFF,U+2020,U+20A0-20AB,U+20AD-20CF,U+2113,U+2C60-2C7F,U+A720-A7FF;
}
/* merriweather-latin-400-normal*/
@font-face {
  font-family: 'Merriweather';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/_next/static/media/merriweather-latin-400-normal.9abccf0f.woff2) format('woff2'), url(/_next/static/media/merriweather-all-400-normal.5980f24f.woff) format('woff');
  unicode-range: U+0000-00FF,U+0131,U+0152-0153,U+02BB-02BC,U+02C6,U+02DA,U+02DC,U+2000-206F,U+2074,U+20AC,U+2122,U+2191,U+2193,U+2212,U+2215,U+FEFF,U+FFFD;
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[5].oneOf[13].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[5].oneOf[13].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[5].oneOf[13].use[5]!./src/app/page.scss ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.landing {
  font-family: "Merriweather";
  margin: auto;
  max-width: 1000px;
  height: 100%;
  padding-bottom: 5%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.landing .grid {
  display: grid;
  grid-template: auto auto/auto auto;
  /* Responsive layout - makes a one column layout instead of a two-column layout */
}
@media (max-width: 800px) {
  .landing .grid {
    display: flex;
    flex-direction: column;
  }
}
.landing .grid h1 {
  font-size: xxx-large;
}
.landing .grid img,
.landing .grid picture {
  height: 350px;
  width: 350px;
  border-radius: 50%;
}
.landing .grid .resume-socials {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.landing .grid .resume-socials .resume-link {
  font-size: x-large;
  margin-bottom: 1em;
}
.landing .grid .resume-socials .socials {
  display: flex;
  justify-content: left;
  align-items: center;
}
.landing .grid .resume-socials .socials a {
  margin-right: 2em;
  color: black;
}
.landing .grid .resume-socials .socials a:hover {
  color: darkslategray;
}
